/*Asi se hacen comentarios*/
body {
    background-color: #91505d; 
    color: #3f1522;
    font-family: 'Bricolage Grotesque', sans-serif;
}

/*.color1 {color: #532c61;}
.color2 {color: #863471;}
.color3 {color: #cc4684;}
.color4 {color: #ff6e9c;}
.color5 {color: #ffa3ac;}*/
h1, p{
    color:#532332;
}
h3{
    color:#f09e91;
}
/*.color1 {color: #612a3b;}
.color2 {color: #823e4c;}
.color3 {color: #b45e6d;}
.color4 {color: #f38b91;}
.color5 {color: #f8bcb3;}*/
.img1{
    width:300px; height: 250px; 
    border-style:solid;
    border-color:#f09e91;
    border-width:8px;
    padding: 10px;
    margin: 30px;
}
.img2{
    width:300px; height: 250px; 
    border-style:double;
    border-color:#f09e91;
    border-width:10px;
    margin-left: 30px;
    margin-top: 60px;
}
small{
    color:aqua;
}